# RapidAPI Settings
RAPIDAPI_PROXY_SECRET=your_rapidapi_secret_here

# Spotify API Keys
SPOTIFY_CLIENT_ID=your_spotify_client_id_here
SPOTIFY_CLIENT_SECRET=your_spotify_client_secret_here

# Apple Music Developer Token
APPLE_MUSIC_DEV_TOKEN=your_apple_music_jwt_here

# Yandex Music Token
YANDEX_MUSIC_TOKEN=your_yandex_music_token_here
